<form>

    <div>
        <h2>Please select 4 classes for your block scheduling</h2>
        <lable for="multipleSelect"> Pick your classes! </lable><br />
        <select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple >
            <option value="Geometry">Geometry</option>
            <option value="World History">World History</option>
            <option value="Pre Calculus">Pre Calculus</option>
            <option value="Gym">Gym</option>
            <option value="Language Arts">Language Arts</option>

        </select><br />
        <tt>multipleSelect = {{data.multipleSelect}}</tt><br />




    </div>

</form>